# Referenzzustand: KONFORM zu SYS.1.3.A8
# Authentifizierung bevorzugt Schluessel/Zertifikat, Passwort-Login deaktiviert.
# Effektive Pruefgroessen: PasswordAuthentication=no, PubkeyAuthentication=yes.

Include /etc/ssh/sshd_config.d/*.conf

PermitRootLogin prohibit-password
PubkeyAuthentication yes
PasswordAuthentication no
KbdInteractiveAuthentication no
ChallengeResponseAuthentication no
UsePAM yes

X11Forwarding no
PrintMotd no
AcceptEnv LANG LC_*
Subsystem	sftp	/usr/lib/openssh/sftp-server
